
    html{
--menuBackground : #0F0F0F;
--fontColor : #EFEEE5;
--selectedItemBackground : #212123;
--selectedItemColor : #EFEEE5;
--fontSize : 1em;
        --background:rgba(36, 36, 36, 0);
        --background-display:none;
        --backMenuColor: rgba(36, 36, 36, 0);
    }
    