

button.mobile-nav-toggle{
    display: none;
}
nav.floating-nav-menu-container{
    display: none;
}

@media ( max-width: 700px) {
    @font-face {
        font-family: 'Poppins-Thin';
        src: url('../font/Poppins-Regular.ttf');
    }
    
    .hide{
        display: none;
    }
    
    hr{
        border: none;
        border-top: solid 1px var(--fontColor);
    }
    .floating-menu-back{
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: var(--backMenuColor);
        z-index: -1;
        transition: background-color 350ms ease-in;
        -webkit-transition: background-color 350ms ease-in;
        -o-transition: background-color 350ms ease-in;
        -moz-transition: background-color 350ms ease-in;
        *{
            font-family: 'Poppins-Thin';
        }
        &.active{
            display: block;
            z-index: 100000;
            background-color: rgba(100, 120, 150, 0.8);
            transition-delay: 350ms;
            transition: background-color 350ms ease-in;
            -webkit-transition: background-color 350ms ease-in;
            -o-transition: background-color 350ms ease-in;
            -moz-transition: background-color 350ms ease-in;
        }
    }
    nav.floating-nav-menu-container{
        display: block;
        *{
            font-size: 0.8rem;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            list-style: none;
            text-decoration: none;
            color: var(--fontColor);
            text-transform: uppercase;
        }
        ul.floating-nav-menu{
            overflow-y: scroll;
            overflow-x: hidden;
            margin: 0;
            position: fixed;
            z-index: 100000;
            
            &.right{
                padding: 1rem 25% 5rem 5%;
                border-radius: 1rem 0 0 1rem;
                
                inset: 5% -20% 5% 20%;
                transform: translateX(120%);
            }
            &.left{
                padding: 1rem 5% 5rem 25%;
                border-radius: 0 1rem 1rem 0;
                inset: 5% 20% 5% -20%;
                transform: translateX(-150%);
            }
            &.center{
                padding: 1rem 5% 6rem 5%;
                border-radius: 1rem 1rem 0 0;
                inset: 5% 5% -20% 5%;
                transform: translateY(150%);
            }

            .header{
                padding: .5rem 0 .5rem 0;
                border-bottom: solid 1px var(--fontColor);
                margin-bottom: 1.5rem;
                h2{
                    font-family: 'Poppins-Thin';
                }

                .search-form{
                    display: flex;
                    padding: 0 10px;
                    .search-text-input{
                        background-color: var(--selectedItemBackground);
                        border-color: var(--fontColor);
                        border: none;
                        text-transform: none;
                        border-radius: 0;
                        width: 100%;
                        padding: 5px 10px;
                        &::placeholder{
                            color: var(--fontColor);
                        }
                        &:valid{
                            outline: 0;
                            background-color: var(--selectedItemBackground);
                            border-bottom: solid var(--fontColor) 3px;
                            color: var(--selectedItemColor);
                            border: none;
                        }
                    }
                    button.search-button{
                        display: block;
                        width: 2rem;
                        height: 2rem;
                        aspect-ratio: 1;
                        border: none;
                        margin-left: 5px;
                        background-color: transparent;
                        svg{
                            width: 100%;
                            height: 100%;
                            *{
                                stroke: var(--fontColor);
                            }
                        }
                    }
                }
                .custom-text{
                    padding: 15px 0;
                    .right{
                        text-align: right;
                        
                    }
                    .left{
                        text-align: left;
                        
                    }
                    .center{
                        text-align: center;
                        
                    }
                }
                div.blog-logo{
                    &.right{
                        a{
                            img{
                                margin: 0 0 0 auto;
                            }
                        }
                    }
                    &.left{
                        a{
                            img{
                                margin: 0 auto 0 0;
                            }
                        }
                    }
                    &.center{
                        a{
                            img{
                                margin: 0 auto;
                            }
                        }
                    }
                    a{
                        img{
                            display: block;
                            width: 5rem;
                            height: 5rem;
                            aspect-ratio: 1;
                            object-fit: contain;
                        }
                    }
                    
                }
                div.user-avatar{
                    align-items: center;
                    display: flex;
                    img{
                        width: 3rem;
                        height: 3rem;
                        aspect-ratio: 1;
                        border-radius: 50%;
                        display: block;
                        
                    }
                    a{
                        display: block;
                        margin:  0 auto;
                        text-align: center;
                    }
                    &.right{
                        justify-content: flex-start;
                        flex-direction: row-reverse;
                        img{
                            margin:  1em 0em 1em 1em;
                        }
                    }
                    &.left{
                        justify-content: start;
                        flex-direction: row;
                        img{
                            margin:  1em 1em 1em 0em;
                        }
                    }
                    &.center{
                        justify-content: center;
                        flex-direction: column;
                        img{
                            margin:  1em 0em 1em 0em;
                        }
                    }
                }
                div.custom-image{
                    &.right{
                        
                        img{
                            margin: 0 0 0 auto;
                            object-fit: contain;
                        }
                    }
                    &.left{
                        
                        img{
                            margin: 0 auto 0 0;
                            object-fit: contain;
                        }
                    }
                    &.center{
                        
                        img{
                            margin: 0 auto;
                            object-fit: contain;
                        }
                    }
                    img{
                        display: block;
                        width: 5rem;
                        height: 5rem;
                        aspect-ratio: 1;
                        object-fit: contain;
                    }
                    a{
                    }
                }
            }


            background-color: var(--menuBackground);
            
            
            &.glass{
                border-top: solid 1px #ffffff96;
                background: rgba( var(--menuBackground), 0.05 );
                box-shadow: 0 8px 32px 0 rgba(29, 29, 29, 0.37);
                backdrop-filter: saturate(20%) blur( 20px );
                -webkit-backdrop-filter: blur( 20px );  
                color: var(--fontColor);  
                text-shadow: #262c3555 2px 2px 2px;
                
            }
            &.custom-style{
                /* background: var(--custom-background);
                --itemColor: var(--custom-itemColor); */
            }
            
            li.menu-item{
                width: 100%;
                ul.floating-nav-submenu[data-visible="true"]{
                    li.menu-item{
                        a{
                            border-left: 2px solid var(--fontColor);
                        }
                    }
                }
                &.parent{
                    border: none;
                    display: block;
                    
                    ul.floating-nav-submenu{
                        width: 95%;
                        margin-left: auto;
                        display: block;
                        max-height: 0;
                    }
                    /* &:has(ul.floating-nav-submenu[data-visible="true"]){
                        
                        
                    } */
                    ul.floating-nav-submenu[data-visible="false"]{
                        
                        transform: translateX(120%);
                        
                        transition:  max-height .2s .2s, transform .2s;
                        
                        li.menu-item{
                            display: block;
                            
                        }
                    }
                    
                    ul.floating-nav-submenu[data-visible="true"]{
                        transform: translateX(0%);
                        transition:  transform .2s .2s, max-height .2s;
                        li.menu-item{
                            display: block;
                            border: none;
                        }
                        
                    }
                }
                div{
                    display: flex;
                    justify-content: space-between;
                    padding: 0;
                    
                    a{
                        width: 100%;
                        font-family: 'Poppins-Thin';
                        text-overflow: ellipsis;
                        font-size: var(--fontSize);
                        padding: 15px 10px;
                        line-height: 100%;
                    }
                    span.submenu-icon{
                        position: relative;
                        padding: 0;
                        height: 1.5rem;
                        width: 1.5rem;
                        aspect-ratio: 1;
                        border-radius: 25%;
                        text-align: center;
                        margin: auto 10px;
                        display: contents;
                        svg{
                            transition-duration: 0.5s;
                            width: 1.5rem;
                            height: 1.5rem;
                            margin: auto 10px;
                            path{
                                fill: var(--fontColor);
                                stroke: var(--fontColor);
                            }
                        }
                        
                        
                    }
                    a:is(:active, :link, :visited).active{
                        
                        color: var(--selectedItemColor);
                        font-family: 'Poppins-Thin';
                        background-color: var(--selectedItemBackground);
                        border-radius: 0.5em;
                        line-height: 100%;
                        
                    }
                    
                    
                }
                
                
            }
            .menu-footer{
                display: flex;
                flex-direction: column;
                &.right{
                    align-items: flex-end;
                }
                &.left{
                    align-items: flex-start;
                }
                &.center{
                    align-items: center;
                }
            }
        }
        

        ul.floating-nav-menu[data-visible="true"]{
            &.right{
                
                transform: translateX(0%);
            }
            &.left{
                
                transform: translateX(0%);
            }
            &.center{
                
                transform: translateY(0%);
            }
            transition: transform .4s cubic-bezier(0.34, 1.20, 0.64, 1);
            -webkit-transition: transform .4s cubic-bezier(0.34, 1.20, 0.64, 1);
            -o-transition: transform .4s cubic-bezier(0.34, 1.20, 0.64, 1);
            -moz-transition: transform .4s cubic-bezier(0.34, 1.20, 0.64, 1);
        }

        ul.floating-nav-menu[data-visible="false"]{
            &.right{

                transform: translateX(120%);
            }
            &.left{

                transform: translateX(-150%);
            }
            &.center{

                transform: translateY(150%);
            }
            transition: transform .3s ease-in;
            -webkit-transition: transform .3s ease-in;
            -o-transition: transform .3s ease-in;
            -moz-transition: transform .3s ease-in;
        }
        
    }
    
    .nav-toggle-container{
        width: 100%;
        &.right{
            display: flex;
            right: 15px;
            justify-content: flex-end;
        }
        &.center{
            
            display: flex;
            
            justify-content: center;
        }
        &.left{
            display: flex;
            left: 15px;
            justify-content: flex-start;
        }
        button.mobile-nav-toggle{
            transform: scale(0);
            display: block;
            color: aliceblue;
            z-index: 999999;
            position: fixed;
            box-shadow: 5px 5px 10px -4px rgba(50, 50, 60, 0.8);
            border-radius: 50%;
            background-color: transparent;
            background: url("../img/boton-menu.svg");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            width: 60px;
            height: 60px;
            aspect-ratio: 1;
            bottom: 15px;
            margin: 0 15px;
            transform-origin: 50%;
            animation: button-enter cubic-bezier(0.175, 0.885, 0.32, 1.275) .5s 1 forwards;
            animation-delay: .5s;
        }
        button.mobile-nav-toggle[aria-expanded='true']{
            background-color: transparent;
            background: url("../img/boton-menu-close.svg");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
        }
        @keyframes button-enter {
            0%{
                transform: scale(0);
            }
            
            100%{
                transform: scale(1);
            }
        }
    }
    
}

@keyframes button-enter {
    0%{
        transform: scale(0);
    }
    80%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}

