
    html{
--menuBackground : #ffffff;
--fontColor : #747474;
--selectedItemBackground : #eeeff6;
--selectedItemColor : #2a2e3a;
--fontSize : 1em;
        --background:rgba(36, 36, 36, 0);
        --background-display:none;
        --backMenuColor: rgba(36, 36, 36, 0);
    }
    