@media ( max-width: 35em) {
    html{
--menuBackground : #000000;
--fontColor : #000000;
--selectedItemBackground : #ffffff;
--selectedItemColor : #ffffff;
--fontSize : 1em;
        --background:rgba(36, 36, 36, 0);
        --background-display:none;
        --backMenuColor: rgba(36, 36, 36, 0);
    }
    
}