

button.mobile-nav-toggle{
    display: none;
}
nav.floating-nav-menu-container{
    display: none;
}

@media ( max-width: 35em) {
    @font-face {
        font-family: 'Poppins-Thin';
        src: url('../assets/font/Poppins-Regular.ttf');
    }
    
    .hide{
        display: none;
    }
    
    hr{
        border: none;
        border-top: solid 1px var(--fontColor);
    }
    /* html{
        --menuBackground : #ffffffff;
        --fontColor: #747474ff;
        --selectedItemBackground: #eeeff6ff;
        --selectedItemColor: #2a2e3aff;
        --background:rgba(36, 36, 36, 0);
        --background-display:none;
        --backMenuColor: rgba(36, 36, 36, 0);
    } */
    .floating-menu-back{
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: var(--backMenuColor);
        z-index: -1;
        transition: background-color 350ms ease-in;
        -webkit-transition: background-color 350ms ease-in;
        -o-transition: background-color 350ms ease-in;
        -moz-transition: background-color 350ms ease-in;
        &.active{
            display: block;
            z-index: 100000;
            background-color: rgba(100, 120, 150, 0.8);
            transition-delay: 350ms;
            transition: background-color 350ms ease-in;
            -webkit-transition: background-color 350ms ease-in;
            -o-transition: background-color 350ms ease-in;
            -moz-transition: background-color 350ms ease-in;
        }
    }
    nav.floating-nav-menu-container{
        display: block;
        *{
            font-size: 0.8rem;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            list-style: none;
            text-decoration: none;
            color: var(--fontColor);
            text-transform: uppercase;
        }
        ul.floating-nav-menu{
            overflow: scroll;
            margin: 0;
            position: fixed;
            z-index: 100000;
            padding: 1rem 2rem 5rem 2rem;
            
            &.right{
                border-radius: 1rem 0 0 1rem;
                
                inset: 5% 0 5% 20%;
                
            }
            &.left{
                border-radius: 0 1rem 1rem 0;
                inset: 5% 20% 5% 0;

            }
            &.center{
                border-radius: 1rem 1rem 0 0;
                inset: 5% 5% 0% 5%;

            }

            .header{
                padding: 2rem 0 1rem 0;
                border-bottom: solid 1px var(--fontColor);
                margin-bottom: 1.5rem;
                .custom-text{
                    padding: 15px 0;
                    .right{
                        text-align: right;
                        
                    }
                    .left{
                        text-align: left;
                        
                    }
                    .center{
                        text-align: center;
                        
                    }
                }
                div.blog-logo{
                    &.right{
                        a{
                            img{
                                margin: 0 0 0 auto;
                            }
                        }
                    }
                    &.left{
                        a{
                            img{
                                margin: 0 auto 0 0;
                            }
                        }
                    }
                    &.center{
                        a{
                            img{
                                margin: 0 auto;
                            }
                        }
                    }
                    a{
                        img{
                            display: block;
                            width: 5rem;
                            height: 5rem;
                            aspect-ratio: 1;
                        }
                    }
                    
                }
                div.user-avatar{
                    align-items: center;
                    display: flex;
                    img{
                        width: 3rem;
                        height: 3rem;
                        aspect-ratio: 1;
                        border-radius: 50%;
                        display: block;
                        
                    }
                    a{
                        display: block;
                        margin:  0 auto;
                        text-align: center;
                    }
                    &.right{
                        justify-content: flex-start;
                        flex-direction: row-reverse;
                        img{
                            margin:  1em 0em 1em 1em;
                        }
                    }
                    &.left{
                        justify-content: start;
                        flex-direction: row;
                        img{
                            margin:  1em 1em 1em 0em;
                        }
                    }
                    &.center{
                        justify-content: center;
                        flex-direction: column;
                        img{
                            margin:  1em 0em 1em 0em;
                        }
                    }
                }
            }


            background-color: var(--menuBackground);
            
            
            &.light{
                /* background-color: #ffffffff;
                box-shadow: 0 8px 32px 0 rgba(29, 29, 29, 0.37);
                --selectedItemBackground: #eeeff6ff;
                --selectedItemColor: #2a2e3aff;
                --itemColor: #747474ff; */
                
            }
            &.dark{
                /* background: #171717ff;
                border-left: solid 2px #747474ff;
                border-top: solid 2px #747474ff;
                box-shadow: 0 8px 32px 0 rgba(29, 29, 29, 0.37);
                --selectedItemBackground: #353535ff;
                --selectedItemColor: #ffffffff;
                --itemColor: #747474ff; */
                
            }
            &.glass{
                border-top: solid 2px #ffffff66;
                /* border-top: solid 2px #ffffffaa; */
                
                background: rgba( var(--menuBackground), 0.01 );
                box-shadow: 0 8px 32px 0 rgba(29, 29, 29, 0.37);
                backdrop-filter: saturate(20%) blur( 5px );
                -webkit-backdrop-filter: blur( 7px );  
                color: rgba(236, 236, 236, 0.171);  
                /* --selectedItemBackground: rgba(216, 216, 216, 0.2);
                --selectedItemColor: #ffffffff;
                --itemColor: #ffffffff;
                --backMenuColor: rgb(69, 183, 228); */
                text-shadow: #262c3555 2px 2px 2px;
                
            }
            &.blue{
                /* border-left: solid 2px #ffffffaa;
                border-top: solid 2px #ffffffaa;
                background: #2f49d1ff;
                --itemColor: #8292e3ff;
                --selectedItemBackground: #576cd9ff;
                --selectedItemColor: #feffffff;
                --backMenuColor: rgb(69, 183, 228); */
                
            }
            &.custom-style{
                /* background: var(--custom-background);
                --itemColor: var(--custom-itemColor); */
            }
            
            *{
                
            }
            li.menu-item{
                width: 100%;
                
                &.parent{
                    border: none;
                    display: block;
                    
                    ul.floating-nav-submenu{
                        overflow: hidden;
                        width: 85%;
                        margin-left: auto;
                        display: block;
                    }
                    &:has(ul.floating-nav-submenu[data-visible="true"]){
                        /* background-color: rgb(241, 241, 241);
                        *{

                            color: aliceblue;
                        } */
                        
                    }
                    ul.floating-nav-submenu[data-visible="false"]{
                        transform: translateX(120%);
                        height: 0px;
                        transition-duration: 0.5s;
                        li.menu-item{
                            display: none;
                            a{

                            }
                        }
                    }
                    
                    ul.floating-nav-submenu[data-visible="true"]{
                        transform: translateX(0%);
                        transition-duration: 0.5s;
                        //background-color: rgb(224, 224, 224);
                        
                        li.menu-item{
                            display: block;
                            a{

                            }
                        }
                        //transition-duration: random(1);
                    }
                }
                div{
                    display: flex;
                    justify-content: space-between;
                    padding: 0;
                    
                    a{
                        width: 100%;
                        font-family: 'Poppins-Thin';
                        text-overflow: ellipsis;
                        font-size: var(--fontSize);
                        padding: 15px 10px;
                        //color: var(--itemColor);
                        line-height: 100%;
                    }
                    span.submenu-icon{
                        position: relative;
                        padding: 0;
                        height: 1.5rem;
                        width: 1.5rem;
                        aspect-ratio: 1;
                        border-radius: 25%;
                        text-align: center;
                        margin: auto 10px;
                        display: contents;
                        svg{
                            transition-duration: 0.5s;
                            width: 1.5rem;
                            height: 1.5rem;
                            margin: auto 10px;
                            path{
                                fill: var(--fontColor);
                                stroke: var(--fontColor);
                            }
                        }
                        
                        
                    }
                    a:is(:active, :link, :visited).active{
                        
                        color: var(--selectedItemColor);
                        font-family: 'Poppins-Thin';
                        background-color: var(--selectedItemBackground);
                        //background: rgba( var(--selectedItemBackground), 0.5 ) ;
                        border-radius: 0.5em;
                        line-height: 100%;
                        
                    }
                    
                    
                }
                
                
            }
            .menu-footer{
                display: flex;
                &.right{
                    justify-content: flex-end;
                }
                &.left{
                    justify-content: flex-start;
                }
                &.center{
                    justify-content: center;
                }
            }
        }

        ul.floating-nav-menu[data-visible="true"]{
            &.right{
                
                transform: translateX(0%);
            }
            &.left{
                
                transform: translateX(0%);
            }
            &.center{
                
                transform: translateY(0%);
            }
            transition: transform 350ms ease-in;
            -webkit-transition: transform 350ms ease-in;
            -o-transition: transform 350ms ease-in;
            -moz-transition: transform 350ms ease-in;
            //transform-origin: 100%;
            //transform: perspective(1000px) rotateY(0deg);
            
        }
        ul.floating-nav-menu[data-visible="false"]{
            &.right{

                transform: translateX(120%);
            }
            &.left{

                transform: translateX(-150%);
            }
            &.center{

                transform: translateY(150%);
            }
            transition: transform 350ms ease-in;
            -webkit-transition: transform 350ms ease-in;
            -o-transition: transform 350ms ease-in;
            -moz-transition: transform 350ms ease-in;
            //transform-origin: 100%;
            //transform: perspective(1000px) rotateY(90deg);
        }
        
    }
    
    .nav-toggle-container{
        width: 100%;
        &.right{
            display: flex;
            right: 15px;
            justify-content: flex-end;
        }
        &.center{
            
            display: flex;
            
            justify-content: center;
        }
        &.left{
            display: flex;
            left: 15px;
            justify-content: flex-start;
        }
        button.mobile-nav-toggle[aria-expanded='true']{
            background-color: transparent;
            background: url("../assets/img/menu_button/boton-menu-close.svg");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
        }
        button.mobile-nav-toggle{
            display: block;
            color: aliceblue;
            z-index: 999999;
            position: fixed;
            
            box-shadow: 5px 5px 10px -4px rgba(50, 50, 60, 0.8);
    
            border-radius: 50%;
            background-color: transparent;
            background: url("../assets/img/boton-menu.svg");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            width: 60px;
            height: 60px;
            aspect-ratio: 1;
            bottom: 15px;
            margin: 0 15px;
            transform-origin: 50%;
            
        }
    }
    
}
